html{
    background-color: black;
    overflow: hidden;
}

#help {
    /*position*/
    position: fixed;
    display: flex;
    flex-direction: column;
    /*Design*/
    width: 200px;
    height: 550px;
    background-color: yellow;

    box-shadow: 0 0 40px rgb(255, 246, 167);
    border-radius: 5px;
}

p{
    padding: 10px;
    background-color: wheat;
    margin-right: 40%;
    margin-left: 10%;
    border-radius: 10px;
}

#Player{
    margin-right: 10%;
    background-color: turquoise;
}
